---
---

@import "{{site.theme}}"; 

main.page-content {
    background-color: #ffffff;
    height: 500px;
    background-image: url(https://live.staticflickr.com/65535/49990120277_a44710e0c8_o.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

a:link {color: #000;
}

a:visited {color: #000;

}

font{color: #000;
 
}