---
---

@import "{{site.theme}}"; 

main.page-content {
    background-color: #ffffff;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

a:link {color: #000;
}

a:visited {color: #000;

}

font{color: #000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 
}

img[src*='#mel'] {
    float: left;
}
img[src*='#dev'] {
    float: right;
}
  