---
---

@import "{{site.theme}}"; 

body {
    background-image: url(https://live.staticflickr.com/65535/49990120277_a44710e0c8_o.jpg);

}

a:link {color: #000;
}

a:visited {color: #000;

}

font{color: #000;
 
}